*{
    box-sizing: border-box;
    
}
.bluebox{
    background-color: #3b5998;
    height: 500px;
    width: 850px;
    margin: 0 auto;
}
.header{
    height: 100px;
    width: 100px;
    color: white;
}
.photo{
    border: 2px solid black;
    height: 170px;
    width: 170px;
    position:relative;
    top: 330px;
    z-index: 1;
}
h1{
  position: relative;
  top: 150px;
  left: 200px;
}
h2{
    position: relative;
    top: 150px;
    left: 200px;
}
li{
    float: left;
    padding: 2px;
    list-style-type: none; 
} 
.bar{
    height: 1000 px;
    width: 850px;
    background-color:#8b9dc3; 
    margin: 0 auto; 
}

.other{
    position: relative;
    top: 150px;
    left: 600px;
}

.photo{
    border-radius: 2%;
}
